.map-controls {
  display: flex;
  min-height: 600px;
  iframe {
    min-height: 100%;
  }
}

.map-controls-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__input {
  }
  &__container {
    margin-top: 10px;
    height: 100%;
  }
  &__scroller {
    height: 475px;
  }
}

@media (max-width: 992px) {

}

.map-controls-button {
  display: inline-block;
  border: 1px solid $muted;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s ease-in;
  margin-right: 20px;
  padding: 10px 60px 10px 15px;
  position: relative;
  
  &:after {
    content: "";
    width: 50px;
    position: absolute;
    z-index: 1;
    display: block;
    color: white;
    top: 0;
    right: 0;
    height: 100%;
    background-color: $primary;
    transform: translateX(100%);
    transition: 0.1s ease-in;
    opacity: 0.1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 12H19' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 5L19 12L12 19' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  &:hover {
    border: 1px solid $primary;
  }
  &:hover &:after{
    transform: translateX(0%);
    transition: 0.1s ease-in;
    opacity: 1;
  }
  &--active &:after {
    transform: translateX(0%);
    transition: 0.1s ease-in;
    opacity: 1;
  }
  /* &:hover &:before {
    transform: translateX(0%);
    transition: 0.1s ease-in;
    opacity: 1;
  } */
}

.map-controls-button:hover.map-controls-button:after {
  transform: translateX(0%);
  transition: 0.1s ease-in;
  opacity: 1;
}

.map-controls-button--active.map-controls-button:after {
  transform: translateX(0%);
  transition: 0.1s ease-in;
  opacity: 1;
}

@media (max-width: 768px) {
  .map-controls-button {
    font-size: 14px;
    
  }
}
