.table-scroller {
  height: 300px;
}
.table-custom {
  & > table {
    @extend .table;
    @extend .table-bordered;
    border-color: $opposite;
  }

  & thead tr:first-child td {
    font-weight: bold;
    font-size: 18px;
    min-width: 350px;
    background-color: white !important;
  }

  & table td {
    text-align: center;
    vertical-align: middle;
  }
  & tbody tr:nth-child(even) td {
    background-color: $system-component;
  }
}

@media (max-width: 1200px) {
  .table-custom {
    & > table {
    }

    & thead tr:first-child td {
      min-width: 150px;
    }

    & table td {
    }
    & tbody tr:nth-child(even) td {
    }
  }
}

@media (max-width: 768px) {
  .table-custom {
    & > table {
    }

    & thead tr:first-child td {
      min-width: 100px;
      font-weight: 400;
      font-size: 12px;
    }

    & table td {
      font-size: 12px;
      
    }
    & tbody tr:nth-child(even) td {
    }
  }
}
